NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
EXCEL_SOURCE_PATH=D:\课表\出勤测试(2).xlsx
DEMO_ADMIN_EMAIL=admin@swimops.local
DEMO_ADMIN_PASSWORD=1324
